.pwdForm
{
    margin: 10px;
    padding:10px;
   
    
    text-align: center;
    
}
.pwdForm input
{
    margin-bottom: 10px;
    margin-top: 10px;
   
}
.pwdForm button
{
    color: black;
    margin-top: 10px;
    border-radius: 8px;
    background-color: yellow;
}